.container {
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.navlinks {
  display: flex;
}
.link {
  display: flex;
}
.link {
  margin-left: 3vw;
  margin-right: 3vw;
}
.button {
  background-color: #111b47;
  color: #ffffff;
  padding: 8px 60px;
  font-size: 12px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}
.nav {
  display: none !important;
}

.mobileMenu {
  display: none;
}

@media (max-width: 700px) {
  .mobileMenu {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
    width: 100vw;
    background-color: brown;
  }
  .nav {
    display: flex !important;
  }
  .logo {
    display: flex;
    align-items: center;
    align-self: ;
  }
  .container {
    display: none;
  }
  .navlinks {
    display: flex;
    align-items: center !important;

    flex-direction: column;
  }
  .link {
    display: flex;

    text-align: center !important;
    margin-left: 0%;
    align-self: flex-start;
  }

  .button {
    background-color: transparent;
    color: blue;
    padding: 0px;
    font-size: 15px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
  }
}
